<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Read Posts</title>
    <style>
        body { f
            font-family: Arial, sans-serif; 
        }
        ul { 
            list-style-type: none; padding: 0; 
        }
        li { 
            border: 1px solid #ccc; margin-top: 10px; padding: 10px; 
        }
        button {
             cursor: pointer; 
            }

        form { 
            display: inline; 
        }
    </style>
</head>
<body>
<div>
    <h1>List of Posts</h1>
    <ul>
        {% for post in posts %}
            <li>
                <h3>{{ post.title }}</h3>
                <p><strong>Description:</strong> {{ post.description }}</p>
                <p><strong>Location:</strong> {{ post.location }}</p>
                <p><strong>Rating:</strong> {{ post.rating }}</p>
                <a href="edit.html">Edit</a>
                <form action="/delete/{{ post._id }}" method="POST" style="display: inline;">
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="create.html">Create New Post</a> | <a href="index.html">Home</a>
</div>
</body>
</html>